<ion-view view-title="videos">

    <!--<ion-list>
      <div class="card">
        <ion-item>
          <div class="video-container">
            <iframe width="600" height="350" src="http://tune.pk/player/embed_player.php?vid=6299423&folder=2015/11/05/&width=600&height=350&autoplay=no" frameborder="0" allowfullscreen scrolling="no"></iframe>          </div>
        </ion-item>
      </div>
      <div class="card">
        <ion-item>
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/gvI2ClWqHO0" frameborder="0" width="560" height="315"></iframe>
          </div>
        </ion-item>
      </div>
      <div class="card">
        <ion-item>
          <div class="video-container">
            <iframe src="http://www.youtube.com/embed/uJAWaE11Jf4" frameborder="0" width="560" height="315"></iframe>
          </div>
        </ion-item>
      </div>
    </ion-list>-->


  <ion-content class="has-header padding">


    <!--   <a class="item item-list-detail">
         <ion-scroll direction="x">
           <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
         </ion-scroll>
       </a>-->


    <button class="button  button-positive button-icon" ng-click="playVideo('templates/video-popover.html')">
      <img src="img/laptop.png">
    </button>

    <button class="button button-positive button-icon" ng-click="playVideo('templates/video-popover.html')">
      <img src="img/laptop.png">
    </button>

    <button class="button button-positive button-icon" ng-click="playVideo('templates/video-popover.html')">
      <img src="img/laptop.png">

    </button>

  </ion-content>


</ion-view>
